<nav class="container main-navbar">
    <div class="company-logo">
        <img src="/images/kalpalogo.png" alt="company-logo">
        <!-- <img class="aavalogo" src="/images/logo.png" alt=""> -->
    </div>
    <ul class="navlinks" id="nav-links">
        
        <li><a href="/">Home</a></li>
        <li><a href="/virtuallearning">Virtual Learning Hub</a></li>
        <li><a href="/IT_Services">IT Services</a></li>
        <li><a href="/Digital_Marketing">Digital Marketing</a></li>
        <li><a href="/Social_Media_Management">Social Media Management</a></li>
       <a href="/signup"><button class="btn primary-btn">Register</button></a>
       <a href="/login"> <button class="btn secondary-btn">Login</button></a>
    </ul>
    <a href="#" class="nav-toggle hover-link" id="nav-toggle"><i class="fa-solid fa-bars"></i></a>
</nav>