<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>virtuallearninghub</title>
       <!-- custom css link -->
       <link rel="stylesheet" href="/css/style.css">
       <!-- media queries link -->
       <link rel="stylesheet" href="/css/media-Queries.css">
       <!-- fontawecome cdn link -->
       <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
       <!-- animation link -->
       <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
</head>
<body>
    <%-include("../partials/navbar.ejs")%>

    <h3>welcome to the digital marketing</h3>













    <!-- for navbar -->
    <script>
        const toggleBtn = document.getElementById('nav-toggle');
        const navLinks = document.getElementById('nav-links');

        toggleBtn.addEventListener('click', ()=>{
            navLinks.classList.toggle('active')

        })

    </script>

    
</body>
</html>